# EBAC - Regressão II - regressão múltipla

## Tarefa I

#### Previsão de renda

Vamos trabalhar com a base 'previsao_de_renda.csv', que é a base do seu próximo projeto. Vamos usar os recursos que vimos até aqui nesta base.

|variavel|descrição|
|-|-|
|data_ref                | Data de referência de coleta das variáveis |
|index                   | Código de identificação do cliente|
|sexo                    | Sexo do cliente|
|posse_de_veiculo        | Indica se o cliente possui veículo|
|posse_de_imovel         | Indica se o cliente possui imóvel|
|qtd_filhos              | Quantidade de filhos do cliente|
|tipo_renda              | Tipo de renda do cliente|
|educacao                | Grau de instrução do cliente|
|estado_civil            | Estado civil do cliente|
|tipo_residencia         | Tipo de residência do cliente (própria, alugada etc)|
|idade                   | Idade do cliente|
|tempo_emprego           | Tempo no emprego atual|
|qt_pessoas_residencia   | Quantidade de pessoas que moram na residência|
|renda                   | Renda em reais|

In [34]:
import pandas as pd
import seaborn as sns
from seaborn import load_dataset
import matplotlib.pyplot as plt
import numpy as np

import patsy
import statsmodels.api as sm
import statsmodels.formula.api as smf

%matplotlib inline

In [35]:
df = pd.read_csv('/content/previsao_de_renda.csv')

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             15000 non-null  int64
 1   data_ref               15000 non-null  object
 2   id_cliente             15000 non-null  int64
 3   sexo                   15000 non-null  object
 4   posse_de_veiculo       15000 non-null  bool
 5   posse_de_imovel        15000 non-null  bool
 6   qtd_filhos             15000 non-null  int64
 7   tipo_renda             15000 non-null  object
 8   educacao               15000 non-null  object
 9   estado_civil           15000 non-null  object
 10  tipo_residencia        15000 non-null  object
 11  idade                  15000 non-null  int64
 12  tempo_emprego          12427 non-null  float64
 13  qt_pessoas_residencia  15000 non-null  float64
 14  renda                  15000 non-null  float64
dtypes: bool(2), float64(3), int64(4), object(6)
memory usage: 1.5+ MB

1. Ajuste um modelo para prever log(renda) considerando todas as covariáveis disponíveis.
    - Utilizando os recursos do Patsy, coloque as variáveis qualitativas como *dummies*.
    - Mantenha sempre a categoria mais frequente como casela de referência
    - Avalie os parâmetros e veja se parecem fazer sentido prático.

In [37]:
df.head()

,Unnamed: 0,data_ref,id_cliente,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,qt_pessoas_residencia,renda
0,0,2015-01-01,15056,F,False,True,0,Empresário,Secundário,Solteiro,Casa,26,6.602740,1.0,8060.34
1,1,2015-01-01,9968,M,True,True,0,Assalariado,Superior completo,Casado,Casa,28,7.183562,2.0,1852.15
2,2,2015-01-01,4312,F,True,True,0,Empresário,Superior completo,Casado,Casa,35,0.838356,2.0,2253.89
3,3,2015-01-01,10639,F,False,True,1,Servidor público,Superior completo,Casado,Casa,30,4.846575,3.0,6600.77
4,4,2015-01-01,7064,M,True,False,0,Assalariado,Secundário,Solteiro,Governamental,33,4.293151,1.0,6475.97

In [66]:
y, x =  patsy.dmatrices('np.log(renda) ~ C(sexo) + C(posse_de_veiculo) + C(posse_de_imovel) + qtd_filhos + C(tipo_renda) + C(educacao) + C(estado_civil) + C(tipo_residencia) + idade + tempo_emprego + qt_pessoas_residencia', data = df)
x

DesignMatrix with shape (12427, 25)
  Columns:
    ['Intercept',
     'C(sexo)[T.M]',
     'C(posse_de_veiculo)[T.True]',
     'C(posse_de_imovel)[T.True]',
     'C(tipo_renda)[T.Bolsista]',
     'C(tipo_renda)[T.Empresário]',
     'C(tipo_renda)[T.Pensionista]',
     'C(tipo_renda)[T.Servidor público]',
     'C(educacao)[T.Pós graduação]',
     'C(educacao)[T.Secundário]',
     'C(educacao)[T.Superior completo]',
     'C(educacao)[T.Superior incompleto]',
     'C(estado_civil)[T.Separado]',
     'C(estado_civil)[T.Solteiro]',
     'C(estado_civil)[T.União]',
     'C(estado_civil)[T.Viúvo]',
     'C(tipo_residencia)[T.Casa]',
     'C(tipo_residencia)[T.Com os pais]',
     'C(tipo_residencia)[T.Comunitário]',
     'C(tipo_residencia)[T.Estúdio]',
     'C(tipo_residencia)[T.Governamental]',
     'qtd_filhos',
     'idade',
     'tempo_emprego',
     'qt_pessoas_residencia']
  Terms:
    'Intercept' (column 0)
    'C(sexo)' (column 1)
    'C(posse_de_veiculo)' (column 2)
    'C(posse_de_imovel)' (column 3)
    'C(tipo_renda)' (columns 4:8)
    'C(educacao)' (columns 8:12)
    'C(estado_civil)' (columns 12:16)
    'C(tipo_residencia)' (columns 16:21)
    'qtd_filhos' (column 21)
    'idade' (column 22)
    'tempo_emprego' (column 23)
    'qt_pessoas_residencia' (column 24)
  (to view full data, use np.asarray(this_obj))

In [70]:
print(sm.OLS(y, x).fit().summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          np.log(renda)   R-squared:                       0.357
Model:                            OLS   Adj. R-squared:                  0.356
Method:                 Least Squares   F-statistic:                     287.5
Date:                Fri, 17 Feb 2023   Prob (F-statistic):               0.00
Time:                        18:16:35   Log-Likelihood:                -13568.
No. Observations:               12427   AIC:                         2.719e+04
Df Residuals:                   12402   BIC:                         2.737e+04
Df Model:                          24
Covariance Type:            nonrobust
=======================================================================================================
                                          coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------------
Intercept                               6.5847      0.235     28.006      0.000       6.124       7.046
C(sexo)[T.M]                            0.7874      0.015     53.723      0.000       0.759       0.816
C(posse_de_veiculo)[T.True]             0.0441      0.014      3.119      0.002       0.016       0.072
C(posse_de_imovel)[T.True]              0.0829      0.014      5.926      0.000       0.055       0.110
C(tipo_renda)[T.Bolsista]               0.2209      0.241      0.916      0.360      -0.252       0.694
C(tipo_renda)[T.Empresário]             0.1551      0.015     10.387      0.000       0.126       0.184
C(tipo_renda)[T.Pensionista]           -0.3087      0.241     -1.280      0.201      -0.782       0.164
C(tipo_renda)[T.Servidor público]       0.0576      0.022      2.591      0.010       0.014       0.101
C(educacao)[T.Pós graduação]            0.1071      0.159      0.673      0.501      -0.205       0.419
C(educacao)[T.Secundário]              -0.0141      0.072     -0.196      0.844      -0.155       0.127
C(educacao)[T.Superior completo]        0.0938      0.072      1.298      0.194      -0.048       0.235
C(educacao)[T.Superior incompleto]     -0.0432      0.078     -0.555      0.579      -0.196       0.109
C(estado_civil)[T.Separado]             0.3265      0.111      2.935      0.003       0.108       0.545
C(estado_civil)[T.Solteiro]             0.2672      0.109      2.453      0.014       0.054       0.481
C(estado_civil)[T.União]               -0.0343      0.025     -1.361      0.174      -0.084       0.015
C(estado_civil)[T.Viúvo]                0.3689      0.116      3.191      0.001       0.142       0.596
C(tipo_residencia)[T.Casa]             -0.0442      0.054     -0.815      0.415      -0.150       0.062
C(tipo_residencia)[T.Com os pais]      -0.0258      0.060     -0.427      0.670      -0.144       0.093
C(tipo_residencia)[T.Comunitário]      -0.1196      0.105     -1.135      0.256      -0.326       0.087
C(tipo_residencia)[T.Estúdio]           0.0665      0.099      0.670      0.503      -0.128       0.261
C(tipo_residencia)[T.Governamental]    -0.0571      0.066     -0.865      0.387      -0.186       0.072
qtd_filhos                             -0.2658      0.108     -2.463      0.014      -0.477      -0.054
idade                                   0.0053      0.001      6.624      0.000       0.004       0.007
tempo_emprego                           0.0617      0.001     59.398      0.000       0.060       0.064
qt_pessoas_residencia                   0.2926      0.108      2.716      0.007       0.081       0.504
==============================================================================
Omnibus:                        0.858   Durbin-Watson:                   2.023
Prob(Omnibus):                  0.651   Jarque-Bera (JB):                0.839
Skew:                           0.019   Prob(JB):                        0.657
Kurtosis:                       3.012   Cond. No.                     2.18e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.18e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [74]:
df[['sexo']].value_counts()

sexo
F       10119
M        4881
dtype: int64

In [77]:
df[['posse_de_veiculo']].value_counts()

posse_de_veiculo
False               9140
True                5860
dtype: int64

In [79]:
df[['posse_de_imovel']].value_counts()

posse_de_imovel
True               10143
False               4857
dtype: int64

In [80]:
df[['tipo_renda']].value_counts()

tipo_renda
Assalariado         7633
Empresário          3508
Pensionista         2582
Servidor público    1268
Bolsista               9
dtype: int64

In [83]:
df[['educacao']].value_counts()

educacao
Secundário             8895
Superior completo      5335
Superior incompleto     579
Primário                165
Pós graduação            26
dtype: int64

In [87]:
df[['estado_civil']].value_counts()

estado_civil
Casado          10534
Solteiro         1798
União            1078
Separado          879
Viúvo             711
dtype: int64

In [89]:
df[['tipo_residencia']].value_counts()

tipo_residencia
Casa               13532
Com os pais          675
Governamental        452
Aluguel              194
Estúdio               83
Comunitário           64
dtype: int64

In [92]:
y, x =  patsy.dmatrices('np.log(renda) ~ C(sexo, Treatment(1)) + C(posse_de_veiculo, Treatment(1)) + C(posse_de_imovel) + qtd_filhos + C(tipo_renda, Treatment(0)) + C(educacao, Treatment(2)) + C(estado_civil, Treatment(0)) + C(tipo_residencia, Treatment(1)) + idade + tempo_emprego + qt_pessoas_residencia', data = df)
x

DesignMatrix with shape (12427, 25)
  Columns:
    ['Intercept',
     'C(sexo, Treatment(1))[T.F]',
     'C(posse_de_veiculo, Treatment(1))[T.False]',
     'C(posse_de_imovel)[T.True]',
     'C(tipo_renda, Treatment(0))[T.Bolsista]',
     'C(tipo_renda, Treatment(0))[T.Empresário]',
     'C(tipo_renda, Treatment(0))[T.Pensionista]',
     'C(tipo_renda, Treatment(0))[T.Servidor público]',
     'C(educacao, Treatment(2))[T.Primário]',
     'C(educacao, Treatment(2))[T.Pós graduação]',
     'C(educacao, Treatment(2))[T.Superior completo]',
     'C(educacao, Treatment(2))[T.Superior incompleto]',
     'C(estado_civil, Treatment(0))[T.Separado]',
     'C(estado_civil, Treatment(0))[T.Solteiro]',
     'C(estado_civil, Treatment(0))[T.União]',
     'C(estado_civil, Treatment(0))[T.Viúvo]',
     'C(tipo_residencia, Treatment(1))[T.Aluguel]',
     'C(tipo_residencia, Treatment(1))[T.Com os pais]',
     'C(tipo_residencia, Treatment(1))[T.Comunitário]',
     'C(tipo_residencia, Treatment(1))[T.Estúdio]',
     'C(tipo_residencia, Treatment(1))[T.Governamental]',
     'qtd_filhos',
     'idade',
     'tempo_emprego',
     'qt_pessoas_residencia']
  Terms:
    'Intercept' (column 0)
    'C(sexo, Treatment(1))' (column 1)
    'C(posse_de_veiculo, Treatment(1))' (column 2)
    'C(posse_de_imovel)' (column 3)
    'C(tipo_renda, Treatment(0))' (columns 4:8)
    'C(educacao, Treatment(2))' (columns 8:12)
    'C(estado_civil, Treatment(0))' (columns 12:16)
    'C(tipo_residencia, Treatment(1))' (columns 16:21)
    'qtd_filhos' (column 21)
    'idade' (column 22)
    'tempo_emprego' (column 23)
    'qt_pessoas_residencia' (column 24)
  (to view full data, use np.asarray(this_obj))

In [93]:
print(sm.OLS(y, x).fit().summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          np.log(renda)   R-squared:                       0.357
Model:                            OLS   Adj. R-squared:                  0.356
Method:                 Least Squares   F-statistic:                     287.5
Date:                Fri, 17 Feb 2023   Prob (F-statistic):               0.00
Time:                        18:53:04   Log-Likelihood:                -13568.
No. Observations:               12427   AIC:                         2.719e+04
Df Residuals:                   12402   BIC:                         2.737e+04
Df Model:                          24
Covariance Type:            nonrobust
=====================================================================================================================
                                                        coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------------------
Intercept                                             7.3580      0.218     33.712      0.000       6.930       7.786
C(sexo, Treatment(1))[T.F]                           -0.7874      0.015    -53.723      0.000      -0.816      -0.759
C(posse_de_veiculo, Treatment(1))[T.False]           -0.0441      0.014     -3.119      0.002      -0.072      -0.016
C(posse_de_imovel)[T.True]                            0.0829      0.014      5.926      0.000       0.055       0.110
C(tipo_renda, Treatment(0))[T.Bolsista]               0.2209      0.241      0.916      0.360      -0.252       0.694
C(tipo_renda, Treatment(0))[T.Empresário]             0.1551      0.015     10.387      0.000       0.126       0.184
C(tipo_renda, Treatment(0))[T.Pensionista]           -0.3087      0.241     -1.280      0.201      -0.782       0.164
C(tipo_renda, Treatment(0))[T.Servidor público]       0.0576      0.022      2.591      0.010       0.014       0.101
C(educacao, Treatment(2))[T.Primário]                 0.0141      0.072      0.196      0.844      -0.127       0.155
C(educacao, Treatment(2))[T.Pós graduação]            0.1212      0.142      0.853      0.394      -0.157       0.400
C(educacao, Treatment(2))[T.Superior completo]        0.1079      0.014      7.763      0.000       0.081       0.135
C(educacao, Treatment(2))[T.Superior incompleto]     -0.0290      0.032     -0.900      0.368      -0.092       0.034
C(estado_civil, Treatment(0))[T.Separado]             0.3265      0.111      2.935      0.003       0.108       0.545
C(estado_civil, Treatment(0))[T.Solteiro]             0.2672      0.109      2.453      0.014       0.054       0.481
C(estado_civil, Treatment(0))[T.União]               -0.0343      0.025     -1.361      0.174      -0.084       0.015
C(estado_civil, Treatment(0))[T.Viúvo]                0.3689      0.116      3.191      0.001       0.142       0.596
C(tipo_residencia, Treatment(1))[T.Aluguel]           0.0442      0.054      0.815      0.415      -0.062       0.150
C(tipo_residencia, Treatment(1))[T.Com os pais]       0.0184      0.029      0.625      0.532      -0.039       0.076
C(tipo_residencia, Treatment(1))[T.Comunitário]      -0.0754      0.091     -0.829      0.407      -0.254       0.103
C(tipo_residencia, Treatment(1))[T.Estúdio]           0.1107      0.084      1.319      0.187      -0.054       0.275
C(tipo_residencia, Treatment(1))[T.Governamental]    -0.0129      0.039     -0.331      0.741      -0.089       0.064
qtd_filhos                                           -0.2658      0.108     -2.463      0.014      -0.477      -0.054
idade                                                 0.0053      0.001      6.624      0.000       0.004       0.007
tempo_emprego                                         0.0617      0.001     59.398      0.000       0.060       0.064
qt_pessoas_residencia                                 0.2926      0.108      2.716      0.007       0.081       0.504
==============================================================================
Omnibus:                        0.858   Durbin-Watson:                   2.023
Prob(Omnibus):                  0.651   Jarque-Bera (JB):                0.839
Skew:                           0.019   Prob(JB):                        0.657
Kurtosis:                       3.012   Cond. No.                     2.13e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.13e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

*Ajustando o modelo com as caselas mais frequentes ainda não vemos uma grande mudança nos P>|t|. Talvez quando retirarmos algumas variáveis possa melhorar o modelo.*


2. Remova a variável menos significante e analise:
    - Observe os indicadores que vimos, e avalie se o modelo melhorou ou piorou na sua opinião.
    - Observe os parâmetros e veja se algum se alterou muito.

In [110]:
y, x =  patsy.dmatrices('np.log(renda) ~ C(sexo, Treatment(1)) + C(posse_de_veiculo, Treatment(1)) + C(posse_de_imovel) + qtd_filhos + C(tipo_renda, Treatment(0)) + idade + tempo_emprego +  C(educacao, Treatment(2))', data = df)
x

DesignMatrix with shape (12427, 15)
  Columns:
    ['Intercept',
     'C(sexo, Treatment(1))[T.F]',
     'C(posse_de_veiculo, Treatment(1))[T.False]',
     'C(posse_de_imovel)[T.True]',
     'C(tipo_renda, Treatment(0))[T.Bolsista]',
     'C(tipo_renda, Treatment(0))[T.Empresário]',
     'C(tipo_renda, Treatment(0))[T.Pensionista]',
     'C(tipo_renda, Treatment(0))[T.Servidor público]',
     'C(educacao, Treatment(2))[T.Primário]',
     'C(educacao, Treatment(2))[T.Pós graduação]',
     'C(educacao, Treatment(2))[T.Superior completo]',
     'C(educacao, Treatment(2))[T.Superior incompleto]',
     'qtd_filhos',
     'idade',
     'tempo_emprego']
  Terms:
    'Intercept' (column 0)
    'C(sexo, Treatment(1))' (column 1)
    'C(posse_de_veiculo, Treatment(1))' (column 2)
    'C(posse_de_imovel)' (column 3)
    'C(tipo_renda, Treatment(0))' (columns 4:8)
    'C(educacao, Treatment(2))' (columns 8:12)
    'qtd_filhos' (column 12)
    'idade' (column 13)
    'tempo_emprego' (column 14)
  (to view full data, use np.asarray(this_obj))

In [111]:
print(sm.OLS(y, x).fit().summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          np.log(renda)   R-squared:                       0.356
Model:                            OLS   Adj. R-squared:                  0.356
Method:                 Least Squares   F-statistic:                     491.1
Date:                Fri, 17 Feb 2023   Prob (F-statistic):               0.00
Time:                        19:43:38   Log-Likelihood:                -13577.
No. Observations:               12427   AIC:                         2.718e+04
Df Residuals:                   12412   BIC:                         2.730e+04
Df Model:                          14
Covariance Type:            nonrobust
====================================================================================================================
                                                       coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------------------
Intercept                                            7.9298      0.035    227.624      0.000       7.862       7.998
C(sexo, Treatment(1))[T.F]                          -0.7865      0.015    -54.126      0.000      -0.815      -0.758
C(posse_de_veiculo, Treatment(1))[T.False]          -0.0446      0.014     -3.179      0.001      -0.072      -0.017
C(posse_de_imovel)[T.True]                           0.0817      0.014      5.961      0.000       0.055       0.109
C(tipo_renda, Treatment(0))[T.Bolsista]              0.2183      0.241      0.905      0.366      -0.255       0.691
C(tipo_renda, Treatment(0))[T.Empresário]            0.1533      0.015     10.290      0.000       0.124       0.182
C(tipo_renda, Treatment(0))[T.Pensionista]          -0.3267      0.241     -1.356      0.175      -0.799       0.146
C(tipo_renda, Treatment(0))[T.Servidor público]      0.0590      0.022      2.659      0.008       0.016       0.103
C(educacao, Treatment(2))[T.Primário]                0.0163      0.072      0.227      0.821      -0.124       0.157
C(educacao, Treatment(2))[T.Pós graduação]           0.1145      0.142      0.806      0.420      -0.164       0.393
C(educacao, Treatment(2))[T.Superior completo]       0.1076      0.014      7.757      0.000       0.080       0.135
C(educacao, Treatment(2))[T.Superior incompleto]    -0.0309      0.032     -0.961      0.337      -0.094       0.032
qtd_filhos                                           0.0278      0.009      3.236      0.001       0.011       0.045
idade                                                0.0057      0.001      7.278      0.000       0.004       0.007
tempo_emprego                                        0.0616      0.001     59.400      0.000       0.060       0.064
==============================================================================
Omnibus:                        0.723   Durbin-Watson:                   2.023
Prob(Omnibus):                  0.697   Jarque-Bera (JB):                0.699
Skew:                           0.017   Prob(JB):                        0.705
Kurtosis:                       3.016   Cond. No.                     1.59e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.59e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

*A grande mudança foi no F-statistic do modelo inicial, para o modelo com variáveis reduzidas. 287.5 versus 491.1. *

3. Siga removendo as variáveis menos significantes, sempre que o *p-value* for menor que 5%. Compare o modelo final com o inicial. Observe os indicadores e conclua se o modelo parece melhor.

In [122]:
y, x =  patsy.dmatrices('np.log(renda) ~ C(sexo, Treatment(1)) + C(posse_de_veiculo, Treatment(1)) + C(posse_de_imovel) + C(tipo_renda) + qtd_filhos + idade + tempo_emprego', data = df)
x

DesignMatrix with shape (12427, 11)
  Columns:
    ['Intercept',
     'C(sexo, Treatment(1))[T.F]',
     'C(posse_de_veiculo, Treatment(1))[T.False]',
     'C(posse_de_imovel)[T.True]',
     'C(tipo_renda)[T.Bolsista]',
     'C(tipo_renda)[T.Empresário]',
     'C(tipo_renda)[T.Pensionista]',
     'C(tipo_renda)[T.Servidor público]',
     'qtd_filhos',
     'idade',
     'tempo_emprego']
  Terms:
    'Intercept' (column 0)
    'C(sexo, Treatment(1))' (column 1)
    'C(posse_de_veiculo, Treatment(1))' (column 2)
    'C(posse_de_imovel)' (column 3)
    'C(tipo_renda)' (columns 4:8)
    'qtd_filhos' (column 8)
    'idade' (column 9)
    'tempo_emprego' (column 10)
  (to view full data, use np.asarray(this_obj))

In [123]:
print(sm.OLS(y, x).fit().summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          np.log(renda)   R-squared:                       0.353
Model:                            OLS   Adj. R-squared:                  0.353
Method:                 Least Squares   F-statistic:                     677.5
Date:                Fri, 17 Feb 2023   Prob (F-statistic):               0.00
Time:                        20:43:05   Log-Likelihood:                -13610.
No. Observations:               12427   AIC:                         2.724e+04
Df Residuals:                   12416   BIC:                         2.732e+04
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================================================
                                                 coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------------
Intercept                                      7.9784      0.033    239.193      0.000       7.913       8.044
C(sexo, Treatment(1))[T.F]                    -0.7790      0.015    -53.600      0.000      -0.807      -0.751
C(posse_de_veiculo, Treatment(1))[T.False]    -0.0537      0.014     -3.833      0.000      -0.081      -0.026
C(posse_de_imovel)[T.True]                     0.0847      0.014      6.166      0.000       0.058       0.112
C(tipo_renda)[T.Bolsista]                      0.2955      0.242      1.223      0.221      -0.178       0.769
C(tipo_renda)[T.Empresário]                    0.1632      0.015     10.977      0.000       0.134       0.192
C(tipo_renda)[T.Pensionista]                  -0.2676      0.241     -1.108      0.268      -0.741       0.206
C(tipo_renda)[T.Servidor público]              0.0769      0.022      3.475      0.001       0.034       0.120
qtd_filhos                                     0.0288      0.009      3.349      0.001       0.012       0.046
idade                                          0.0053      0.001      6.864      0.000       0.004       0.007
tempo_emprego                                  0.0616      0.001     59.325      0.000       0.060       0.064
==============================================================================
Omnibus:                        1.091   Durbin-Watson:                   2.024
Prob(Omnibus):                  0.579   Jarque-Bera (JB):                1.060
Skew:                           0.019   Prob(JB):                        0.589
Kurtosis:                       3.025   Cond. No.                     1.58e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.58e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

*O F-statistic melhora muito. Acabei não tirando a variável 'tipo_renda' pois em duas vertenter ela tem um p-value menor que 5%.*